# OS 
.DS_Store
Thumbs.db

# IDEs 
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Virtual environments 
.venv/
venv/
env/

# Datasets 
dataset/

# Training results 
results/
Old_results/
Saved_Models/

# Documentation
build